//<FORM ()> =======================================================================================
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}
//</FORM ()> =======================================================================================

//<BUTTON (a.btn + tab)> =======================================================================================

.btn {
	display: inline-flex;
	padding: 0px 0px;
	@media (min-width: 992px) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
//</BUTTON> =======================================================================================

//<SELECT (sel + tab)> =======================================================================================
.select {
	position: relative;
	&__item {
		position: relative;
	}
	&__title {
		color: #000;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;
		border-radius: 4px;
		///...
	}
}
//</SELECT> =======================================================================================

//<INPUT (inp + tab)> =======================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
//</INPUT> =======================================================================================

//<arrow> =======================================================================================
.arrow-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid green;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid green;
	border-bottom: 50px solid transparent;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid green;
	border-bottom: 50px solid transparent;
}

.trapezoid {
	width: 200px;
	border-bottom: 100px solid green;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}

//<arrow> =======================================================================================
