//============================================================================================================
.header {
	background: url(../img/header/head_vect.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 301px;
	position: relative;
	margin: 0px 0px 42px 0px;

	&__dots {
		position: absolute;
		height: 128px;
		width: 128px;
		top: 86.5px;
		margin: 0px 0px 0px -9px;
		img {
			margin: 0px 0px 0px 9px;
		}
	}

	&__top {
		margin: 33px 0px 0px 0px;
	}
	&__title {
		margin: 43px 0px 0px 0px;
		color: #fff;
		font-weight: 600;
		line-height: 84px;
		z-index: 2;
		position: relative;
		@include adaptiv-font(62, 22, 20);
	}
}
@media (max-width: 1920px) {
	.header {
		background: url(../img/header/Vector_35.svg) no-repeat;
		background-size: cover;
		width: 100%;
		height: 301px;
		position: relative;
		margin: 0px 0px 42px 0px;
	}
}
.top {
	&__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		display: flex;
		align-items: center;
	}
	&__img {
		border-right: solid #fff 1px;
		min-width: 81px;
		height: 45px;
		padding: 0px 21px 0px 0px;
	}
	&__text {
		padding: 0px 0px 0px 21px;
		color: #fff;
	}
	&__button {
		height: 49px;
		width: 252px;
		user-select: none;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border-radius: 50px;
		font-size: 17px;
		line-height: 26px;
		text-transform: uppercase;
		font-weight: normal;
		outline: none;
		&:hover {
			background: linear-gradient(180deg, #144576 0%, #8d60f1 100%);
			border: 2px solid #fff;
			color: #fff;
			cursor: pointer;
		}
		&:active {
			background: linear-gradient(180deg, #3f428e 0%, #4d459c 100%);
		}
	}
	@media (max-width: 760px) {
		&__button {
			height: 48px;
			width: 252px;
			user-select: none;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			border-radius: 50px;
			font-size: 17px;
			line-height: 26px;
			text-transform: uppercase;
			font-weight: normal;

			&:active {
				background: linear-gradient(180deg, #3f428e 0%, #4d459c 100%);
			}
		}
	}
}

//============================================================================================================
/* 
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
} */
